@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header li, a, button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: tan;
  text-decoration: none;
}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
/* need to insert logo */
.logo {
  cursor: pointer;
  margin: 10px;
}

.nav__links{
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  color: #0088a9
}

button {
  padding: 9px 25px;
  margin: 10px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}


body {
  background-color:#F0EBE1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  line-height: 1.8em;
  overflow-x: hidden;
}

.team-profile {
  background-color: tan;
  border: 1px solid black;
  margin: 40px;
  padding: 20px;
}

.team-info{
  display:grid;
  grid-template-columns: 30% 70%;
  grid-row-gap: 1em 
}

.team-info > div {
  background: #eee;
  padding: 1em;
}

.team-info > div:nth-child(odd) {
  background: #ddd;
}

.image {
  position: relative;
  width: 400px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: rgba(0,136,169,0.5);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}


h2{
  text-align: center;
}

h4{
  text-align: center;
}